<div class="team-4 section-image" style="background-image: url('https://ws3.sinaimg.cn/large/006tKfTcgy1fgf2rkqgicj30ng0ng0ww.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8">


          <% if current_user && current_user == @user && current_user.admin? %>
          <%= link_to admin_users_path, class: 'btn btn-default' do %>
          <i class="fa fa-cogs" aria-hidden="true"></i>
          <% end %>
          <% end %>


          <% if current_user && current_user == @user %>
          <%= link_to edit_account_path(current_user), class: 'btn btn-info' do %>
          <i class="fa fa-bars" aria-hidden="true"></i>
          <% end %>
          <% end %>

        </ul>

        <a href="/" class="btn btn-primary"><i class="fa fa-home" aria-hidden="true"></i></a>
        </div>
        </div>



  			<div class="row">
  				<div class="col-md-8 col-md-offset-2 text-center">
  					<h2 class="title">美丽宁波</h2>
  					<h5 class="description">安全出行,传递爱心</h5>
  				</div>
  			</div>

  			<div class="row">

  				<div class="col-md-8 col-md-offset-2">
  					<div class="card card-profile">
  						<div class="card-avatar">
                  <%= image_tag @user.account_avatar %>
  						</div>


  						<div class="card-content">
                <h4 class="card-title"><%= @user.account_name %></h4>
                <h6 class="category text-muted"><%= @user.signature %></h6>
  							<div class="footer">
                  <%= link_to user_path(@user, category: 'like'), class: 'btn btn-primary btn-lg' do %>
                  <li><%= @user.likes.count %>个喜欢 <i class="fa fa-heart"></i></li>
                  <% end %>
                  <%= link_to user_path(@user, category: 'comment'), class: 'btn btn-primary btn-lg' do %>
                    <li><%= @user.comments.count %>个评论 <i class="fa fa-comment-o" aria-hidden="true"></i></li>
                  <% end %>
                  <%= link_to user_path(@user, category: 'publish'), class: 'btn btn-primary btn-lg' do %>
                  <li><%= @user.posts.count %>个作品 <i class="fa fa-picture-o" aria-hidden="true"></i></li>
                  <% end %>

  								<!-- <a href="#pablo" class="btn btn-just-icon btn-linkedin btn-round"><i class="fa fa-linkedin"></i></a>
  								<a href="#pablo" class="btn btn-just-icon btn-twitter btn-round"><i class="fa fa-twitter"></i></a>
  								<a href="#pablo" class="btn btn-just-icon btn-dribbble btn-round"><i class="fa fa-dribbble"></i></a> -->
  							</div>
  						</div>
  					</div>
  				</div>


  			</div>

  		</div>
  	</div>

  	<!--     *********    END TEAM 4      *********      -->



<div class="row">


  <%= render 'common/picture_wall', posts: @posts %>



</div>
