<div class="media">
    <%= link_to comment.user, class: 'pull-left' do %>
    <div class="avatar">
      <%= image_tag comment.user.account_avatar, class: 'media-object' %>
    </div>
    <% end %>
	  <div class="media-body">
			<h4 class="media-heading"><%= comment.user.email %> <small>&middot; <%= comment.created_at %></small></h4>
			<p><%= comment.content %></p>
	  </div>
    <div class="media-footer pull-right" style="margin-right: 20px">
      <% if comment_deletable?(comment, current_user) %>
      <%= link_to post_comment_path(@post, comment), method: :delete, data: {confirm: '确认删除评论吗? 删除的评论无法恢复'} do%>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
      <% end %>
      <% end %>
    </div>
</div>
