  <div class="card card-blog card-atv">
  	<div class="card-image">
  		<a href="#pablo">
  			<div class="atvImg">
          <%= image_tag @post.picture %>
  			</div>
  		</a>
  	</div>

  	<div class="card-content">
  		<h4 class="card-title"> <%= @post.description %> </h4>
  		<div class="footer">
  			<div class="author">
          <%= link_to @post.user do %>
              <%= image_tag @post.user.account_avatar, class: 'avatar' %>
              <span><%= @post.user.account_name %></span>
          <% end %>
  			</div>

        <a class="btn btn-primary btn-simple pull-right" rel="tooltip" title="Reply to Comment">
          <i class="material-icons">chat_bubble</i> <%= @post.comments.count %>
        </a>

        <%= render 'like_button', post: @post%>

  		</div>
  	</div>
  </div>





  <%= render 'delete_button', post: @post %>
  <hr>

  <%= render 'comment_input_area', comment: @comment, post: @post %>

  <div class="row">
    <% @comments.each do |comment| %>
    <%= render 'post_comment', comment: comment %>
    <% end %>
  </div>
