<%= render 'post_info', post: @post %>
<%= image_tag @post.picture %><br>
<%= render 'user_info', user: @post.user %><br>

<%# TODO: 图片地点  %>
<%= render 'post_location' %>

<%= render 'like_button', post: @post%>

<%= @post.likers.count %> 人喜欢
喜欢的人除了自己的头像


xxxx 条评论
<hr>
头像 名字     时间
内容

<%= simple_form_for @comment, url: post_comments_path(@post), method: :post do |f| %>
    <div class="group">
      <%= f.input :content %>
    </div>

    <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>
<% end %>

<div class="">
  <% @comments.each do |comment| %>
  <%= render 'post_comment', comment: comment %>
  <% end %>
</div>
