  <div class="card card-blog card-atv">
  	<div class="card-image">
  			<div class="atvImg">
          <%= image_tag @post.picture %>
  			</div>
  		</a>
  	</div>

  	<div class="card-content">
  		<h4 class="card-title"> <%= @post.description %> </h4>
  		<div class="footer">
  			<div class="author">
          <%= link_to @post.user do %>
              <%= image_tag render_user_avatar(@post.user, 70),  class: 'avatar', style: 'width:70px; height:70px;'%>
              <%= @post.user.display_name %>
          <% end %>
  			</div>

        <a class="btn btn-primary btn-simple pull-right" rel="tooltip" title="Reply to Comment">
          <i class="material-icons">chat_bubble</i> <%= @post.comments.count %>
        </a>

        <%= render 'like_button', post: @post%>

  		</div>
  	</div>
  </div>

  <div>
    <%= render 'delete_button', post: @post %>
    <div class="pull-right">
      <%= social_share_button_tag("宁波市质监局''有质青年''志愿者活动", :allow_sites => %w(douban wechat weibo), :image => @post.picture.url , desc: '质监局的活动') %>
    </div>
  </div>

  <hr>

  <%= render 'comment_input_area', comment: @comment, post: @post %>

  <div class="container">
    <% @comments.each do |comment| %>
    <%= render 'post_comment', comment: comment %>
    <% end %>
  </div>
