
<!-- <ul>
  <li>头像:</li>
  <li>主页背景:</li>
  <li>名字:</li>
  <li>手机:</li>
  <li>个性签名:</li>
  <li>修改密码:</li>
</ul> -->
<!--     *********    TEAM 4     *********      -->

<div class="team-4 section-image" style="background-image: url('https://ws3.sinaimg.cn/large/006tKfTcgy1fgf2rkqgicj30ng0ng0ww.jpg')">

    <div class="container">

      <div class="row">

        <div class="col-md-8 col-md-offset-2">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="#pablo">
                <%= image_tag @user.account_avatar %>
              </a>
            </div>


            <div class="card-content">
              <h4 class="card-title"><%= @user.account_name %></h4>
              <h6 class="category text-muted"><%= @user.signature %></h6>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

  <!--     *********    END TEAM 4      *********      -->
<%= simple_form_for current_user, url: account_path(current_user) do |f| %>
  <div class="group">
    <%= f.input :account_name %>
  </div>

  <div class="group">
    <%= f.input :account_avatar, as: :file %>
  </div>

  <div class="group">
    <%= f.input :account_back_ground, as: :file %>
  </div>

  <div class="group">
    <%= f.input :signature %>
  </div>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>

<hr><br>
<%= link_to '退出登录', destroy_user_session_path, method: :delete, class: 'btn btn-danger'%>
