<div class="">
  <table class="table">
    <thead>
      <tr>
        <th>用户名</th>
        <th>头像</th>
        <th>email</th>
        <th>签名</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td><%=link_to u.account_name, u %></td>
        <td>
          <%= link_to user_path(u) do %>
          <%= image_tag u.account_avatar %>
          <% end %>
        </td>
        <td><%= u.email %></td>
        <td><%= u.signature %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
