<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand" style="max-width:50px;"> <%= image_tag 'youth.png', style: 'max-width:50px;' %>
            </a>
        </div>
        <!--  -->
        <div class="navbar-center">
           弘扬雷锋精神，参与志愿行动，服务质量安全
        </div>
        <!--  -->
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
              <% unless current_user %>
                  <li>
                    <%= link_to new_user_session_path do %>
                      <i id="icon" class="fa fa-camera fa-3x" aria-hidden="true"></i>
                    <% end %>
                  </li>
              <% else %>
                <li>
                   <%= link_to new_post_path do %>
                    <i id="icon" class="fa fa-camera fa-3x" aria-hidden="true"></i>
                   <% end %>
                 </li>
                <li>
                  <%= link_to user_path(current_user) do %>
                    <%= image_tag render_user_avatar(current_user, 30), style:"width: 30px;", class:'avatar'%>
                    <%= current_user.display_name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
        </div>

    </div>
</nav>
