<div class="masonry-container">

<% @posts.each do |p|  %>
  <%= link_to p do %>
  <div class="masonry-block">
    <div class="card card-blog card-rotate">
     <div class="rotating-card-container">
      <div class="card-image">
       <div class="front">
            <%= image_tag p.picture.thumb, style: "min-height: 160px;" %>
       </div>

       <div class="back back-background" style="min-height: 160px;">
        <div class="card-content">
         <h5 class="card-title">
         </h5>
         <p class="card-description">
           宁波市质监局 <br>
            <font size='4'> “有质青年” </font><br>
             志愿者活动
         </p >
         <div class="footer text-center">
           <%= social_share_button_tag("宁波市质监局''有质青年''志愿者活动", :allow_sites => %w(wechat weibo), :image => p.picture.url , desc: '质监局的活动') %>
         </div>
        </div>
       </div>
      </div>
     </div>
      <% end %>

     <div class="card-content">
        <%= p.description %>
      <h4 class="card-title">
      </h4>
        <%= render 'common/post_user', post_user: p.user, post: p %>
     </div>
    </div>
  </div>
<% end %>

</div>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript">
  $(function(){
    var $container = $('div.masonry-container');
    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : 'div.masonry-block'
      });
    });
  });
</script>
<!-- <script>
var $grid = $('div.masonry-container').masonry({
  columnWith: 'div.masonry-block',
  itemSelector: 'div.masonry-block'
});

// layout Masonry after each image loads
$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});
</script> -->
