<!DOCTYPE html>
<html>
  <head>
    <title>宁波市质监局有质青年</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/youth.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
  </head>

  <body>
    <%= render 'common/navbar' %>
    <%= render 'common/flashes' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
